<template name="footer">
<footer id="footer">
	<div class="container">
		{{#with loc}}
		<div id="currentLoc"><a href="/viewLocation/{{inLocationId}}"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;{{inLocation}} <small>{{inOrNear}}</small></a></div>
		{{/with}}
		<div id="info" class="small pull-right"></div>
		<div class="pull-right" id="micBox">
			<div id="microphone"></div>
		</div>
	</div>
</footer>
<div id="speechText">
	<div class="popover-content">
		<div id="result"></div>
		<div id="error"></div>
	</div>
	<!--<span>{{voiceInput}}</span>
	<button id="voiceInputButton">Speak</button>-->
</div>
</template>