<template name="layout">
	<div class="container">
		
		<!-- Here is the standard Bootstrap code for a Navigation bar taken directly from getbootstrap.com/components -->
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" 
			  			data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="{{pathFor 'welcome'}}">
	      		Brandeis Voice Tour
	      	  </a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      	<ul class="nav navbar-nav">
					<li><a href="{{pathFor 'about'}}">About</a></li>
					<li><a href="{{pathFor 'locationList'}}">Location List</a></li>
					<li><a href="{{pathFor 'graph'}}">Graph</a></li>
				</ul>
				<form class="navbar-form navbar-right" role="search" id="searchForm" name="searchForm">
			    	<div class="form-group">
			    		<div class="btn-group">
			    			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    				All&nbsp;<span class="caret"></span>
			    			</button>
			    			<ul class="dropdown-menu" id="selectSearchType">
			    				<li><a href="#">Locations</a></li>
			    				<li><a href="#">Events</a></li>
			    				<li><a href="#">Tours</a></li>
			    				<li role="separator" class="divider"></li>
			    				<li><a href="#">All</a></li>
			    			</ul>

			    		</div>

			        	<!-- <input type="text" class="form-control" placeholder="Search" id="searchBox" name="searchBox"> -->
			        	{{> esInput index="locations" placeholder="Search" id="searchBox" class="form-control"}}

		        		<button type="submit" class="btn btn-default">
				    		<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</button>
					</div>
			    </form>		

			    <ul class="nav navbar-nav navbar-right">
			             <!-- here -->
			    </ul>				
		    </div><!-- /.navbar-collapse -->
			
		  </div><!-- /.container-fluid -->
		</nav>
		
		<!-- Here is where the actual content of the page gets inserted by the router! -->
		{{> yield}}
		
	</div>
</template>
