<template name="layout">		
		<!-- Here is the standard Bootstrap code for a Navigation bar taken directly from getbootstrap.com/components -->
	
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="slide-nav">
		  <div class="container">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" 	data-target="#navbar-hamburger">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="{{pathFor 'welcome'}}">
	      		Discover Deis
	      	  </a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="navbar-collapse" id="navbar-hamburger">
		      	<ul class="nav navbar-nav">
					<li><a href="{{pathFor 'about'}}">About</a></li>
					<li><a href="{{pathFor 'locationList'}}">Locations @ Brandeis</a></li>
					<li><a href="{{pathFor 'graph'}}">Navigate</a></li>
				</ul>

			    <ul class="nav navbar-nav navbar-right">
			             <!-- here -->
			    </ul>				
		    </div><!-- /.navbar-collapse -->
			
		  </div><!-- /.container-fluid -->
		</nav>
		
		
			<form role="search" id="searchForm" class="form-inline">
			    	<div class="form-group">
			        	<!-- <input type="text" class="form-control" placeholder="Search" id="searchBox" name="searchBox"> -->
			        	{{> esInput index="locations" placeholder="Search" id="searchBox" class="form-control input-lg" value=searchTerm}}
					</div>
			</form>
			<button class="btn btn-default btn-lg" id="searchGlass">
				<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
			</button>
		
	

		<div id="page-content">
			<div class="container">
			<!-- Here is where the actual content of the page gets inserted by the router! -->
			{{> yield}}
			</div>
		</div>
		
		
		{{> footer}}
</template>
