@import url('colors.less');

div.go-to-navigate {	
	margin-bottom:1em;
	width:100%;
	a {
		text-align:center;
		padding:1em;
		display:block;
		width:100%;
		color:@off-white;
		text-decoration:none;
		background-color:@dark-blue;
	}
	a:hover, a:focus, a:active {
		background-color:#ededed;
		color:#111;
	}
}

.page-header {
	#returnToList {
		font-size:1.1em;
		display:block;
		height:100%;
		float:left;
		margin-right:0.25em;
	}
	small {
		clear:both;
	}
}

.profilePic {
	max-width:100%;
}