a.go-to-location {
	min-height:6em;
	background-image: url('/Chevron_right.svg'); /* From https://commons.wikimedia.org/wiki/File:Chevron_right.svg, in the public domain */
	background-repeat:no-repeat;
	background-position: right center;
	padding-right:1.5em;
}