@deis-blue: #0070FF;
@dark-blue: #003e8c;

div.go-to-navigate {	
	margin-bottom:1em;
	width:100%;
	a {
		text-align:center;
		padding:1em;
		display:block;
		width:100%;
		color:#FFFFFF;
		text-decoration:none;
		background-color:@dark-blue;
	}
	a:hover, a:focus, a:active {
		background-color:#ededed;
		color:#111;
	}
}
