@import url('colors.less');

.checkbox {
	label {
		vertical-align:bottom;
		padding-left:0;
		font-size:1.4em;
	}
}

.slider {
	&.slider-horizontal {
		width: 100%;
	}

}

.slider-track, .slider-selection {
	border-radius:0;
}